@model assignment_4.Models.Teacher
@{
    ViewBag.Title = "Update";
}

<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/Show/@Model.TeacherId">Back</a>
    </nav>
    <h2>Update Teacher</h2>
    <form method="POST" action="/Teacher/Update/@Model.TeacherId">
        <div class="inputrow">
            <label for="TeacherFname">First Name:</label>
            <input type="text" id="TeacherFname" name="TeacherFname" value="@Model.TeacherFname" />

        </div>
        <div class="inputrow">
            <label for="TeacherLname">Last Name:</label>
            <input type="text" id="TeacherLname" name="TeacherLname" value="@Model.TeacherLname" />

        </div>
        <div class="inputrow">
            <label for="Employeenumber">Employee number:</label>
            <input type="text" id="Employeenumber" name="Employeenumber" value="@Model.Employeenumber"/>
        </div>
        <div class="inputrow">
            <label for="Salary">Salary:</label>
            <input type="text" id="Salary" name="Salary" value="@Model.Salary"/>
        </div>
        <div class="inputrow">
            <input type="submit" value="Update Teacher" />
        </div>
    </form>
</div>

